@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}<
!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Error.</h2>
        <h3>An error occurred while processing your request.</h3>
        <h3>Try again or contact an administrator.</h3>
    </hgroup>
</body>
</html>
