@model HouseholdBudgeterFrontEnd.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login100-form validate-form p-l-55 p-r-55 p-t-170", role = "form" }))
{
    @Html.AntiForgeryToken()
    <span class="login100-form-title"> Enter your username </span>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your email/username">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        <span class="focus-input100"></span>
    </div>
    <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn"> Email Code </button>
    </div>
}
<div class="container-login100-form-btn m-b-16">
    @Html.ActionLink("Back to LogIn", "Login", new { }, new { @class = "txt3" })
</div>

