@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<p class="p-l-100 p-r-55 p-t-40 txt3">@ViewBag.Title.</p>
<div class="p-l-80 p-r-55 p-t-50 m-b-16">
    Please check your email to reset your password.
</div>
<div class="container-login100-form-btn m-b-16">
    @Html.ActionLink("Back to LogIn", "Login", new { }, new { @class = "txt3" })
</div>
